

<div  style="background-color: #262626  ; color:#e6e6e6;">
  
    


  <form [formGroup]="searchForm" (ngSubmit)="search(searchForm.value)" class="form-inline my-2 my-lg-0 float-right">
    <div>
       <input formControlName="search"  class="form-control mr-sm-2 form-control-sm my-1" id="search" type="search" placeholder="Search for latest News" aria-label="Search"> 
      </div>
    <button class="btn btn-outline-primary mx-auto my-1 my-sm-0 btn-sm" id="s"  type="submit" >Search</button> 
    
  
   
      
      </form>

      
</div>

<!-- <li *ngFor="let keyword1 of signUpInfo">
  {{ keyword1.id }}
  {{keyword1.username}}
  {{keyword1.email}}
  {{keyword1.status}}
</li> -->
<table class="table table-sm table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Search Time</th>
        
      </tr>
    </thead>
    <tbody>
  
  
      
  
      
          <tr  *ngFor="let keyword1 of signUpInfo let i= index">
              
              <td>  {{i+1}}</td>
              <td>{{keyword1.username}}</td>
               <td>{{keyword1.email}}</td>
               <td> <button type="button" class="btn btn-danger" (click)="block(keyword1.id)">Block</button></td>
            </tr>
        
         
       
     
    </tbody>
  </table>
  
  
  
  